////mixins////

// Clearfix
@mixin clearfix {
  content:"";
    display:table;
    clear:both;
}

//float alignments
@mixin alignleft {
  float: left;
}
@mixin alignright {
  float: right;
}

// flexbox
@mixin flexbox {
	display: -webkit-flex;
	display: -moz-flex;
	display: flex; 
  float: none;
}

// grid
@mixin grid {
	display: grid; 
  float: none;
}


//font sizes in px/rem
@mixin fontSizeLineHeight( $fontSizeValue, $lineHeightSizeValue ) {
  font-size: ($fontSizeValue * 10) + px;
  font-size: $fontSizeValue + rem;

  line-height: ($lineHeightSizeValue * 10) + px;
  line-height: $lineHeightSizeValue + rem;
}


//rem sizing fallback
@function stripUnit($num) {
  @return $num / ($num * 0 + 1);
}

@mixin remFallback($property, $values...) {
  $max: length($values);
  $pxValues: '';
  $remValues: '';

  @for $i from 1 through $max {
    $value: stripUnit(nth($values, $i));
    $pxValues: #{$pxValues + $value*16}px;

    @if $i < $max {
      $pxValues: #{$pxValues + " "};
    }
  } 

  @for $i from 1 through $max {
    $value: stripUnit(nth($values, $i));
    $remValues: #{$remValues + $value}rem;

    @if $i < $max {
      $remValues: #{$remValues + " "};
    }
  } 
  
  #{$property}: $pxValues; 
  #{$property}: $remValues; 
}//end rem sizing fallback